#root{
    --primary-box-shadow:rgb(28 28 28 / 8%) 0px 2px 8px;
    --border-white:rgb(207, 207, 207);
    --light-bg:rgb(255, 255, 255);
    --zamato-grey:#828282;
    --zamato-red:rgb(255, 126, 139);
    --gray:rgb(207, 207, 207);
}